.gitignore/.quarto/
_site
.DS_Store
team/.DS_Store
.Rproj.user
quarto
/.gitignone
/.Rhistory
doi_cache.json
team/alexandre-perera-lluna/publications.ris
publications/publications.ris
team/flavio-palmieri/publications.ris
team/jordi-fonollosa/publications.ris
team/montserrat-vallverdu-ferrer/publications.ris

**/*.quarto_ipynb

/.quarto/
